nbproject/private/
/out/
/.idea/*
programutvikling.iml
**/.idea/workspace.xml
''/.idea/tasks.xml
.idea/workspace.xml
Programutvikling.iml
/nbproject/*
build.xml
manifest.mf
dist/web-files/upgrade_javafx.png
dist/web-files/upgrade_java.png
dist/web-files/javafx-loading-25x25.gif
dist/web-files/dtjava.js
dist/Semesteroppgave.jnlp
build/classes/main/java/Main.class
build/classes/main/java/Main$3.class
build/classes/main/java/Main$2.class
build/classes/main/java/Main$1.class
build/classes/main/java/Enemy.class
build/classes/image/background.jpg
build/classes/Player/Player.class
build/classes/Character/Character.class
build/built-jar.properties
dist/web-files/javafx-chrome.png
dist/web-files/get_javafx.png
dist/web-files/get_java.png
dist/web-files/error.png
dist/Semesteroppgave.jar
dist/Semesteroppgave.html
build/classes/main/java/EnemyType.class
dist/web-files/javafx-loading-100x100.gif
build/classes/main/java/MovementPattern.class
