nbproject/private/
/out/
/.idea/*
programutvikling.iml
**/.idea/workspace.xml
''/.idea/tasks.xml
.idea/workspace.xml
Programutvikling.iml
/nbproject/*
build.xml
manifest.mf
dist/web-files/upgrade_javafx.png
dist/web-files/upgrade_java.png
dist/web-files/javafx-loading-25x25.gif
dist/web-files/dtjava.js
dist/Semesteroppgave.jnlp
build/classes/main/java/Main.class
build/classes/main/java/Main$3.class
build/classes/main/java/Main$2.class
build/classes/main/java/Main$1.class
build/classes/main/java/model.enemy.class
build/classes/assets.image/background.jpg
build/classes/model.player/model.player.class
build/classes/Character/Character.class
build/built-jar.properties
dist/web-files/javafx-chrome.png
dist/web-files/get_javafx.png
dist/web-files/get_java.png
dist/web-files/error.png
dist/Semesteroppgave.jar
dist/Semesteroppgave.html
build/classes/main/java/EnemyType.class
dist/web-files/javafx-loading-100x100.gif
build/classes/main/java/MovementPattern.class
dist/run1045446448/web-files/javafx-loading-100x100.gif
dist/run1045446448/web-files/javafx-chrome.png
dist/run1045446448/web-files/get_javafx.png
dist/run1045446448/web-files/get_java.png
dist/run1045446448/web-files/error.png
dist/run1045446448/web-files/dtjava.js
dist/run1045446448/Semesteroppgave.jnlp
dist/run1045446448/Semesteroppgave.jar
dist/run1045446448/Semesteroppgave.html
dist/run1023341959/web-files/upgrade_javafx.png
dist/run1023341959/web-files/upgrade_java.png
dist/run1023341959/web-files/javafx-loading-25x25.gif
dist/run1023341959/web-files/javafx-loading-100x100.gif
dist/run1023341959/web-files/javafx-chrome.png
dist/run1774285816/web-files/get_java.png
dist/run1774285816/web-files/error.png
dist/run1774285816/web-files/dtjava.js
dist/run1774285816/Semesteroppgave.jnlp
dist/run1774285816/Semesteroppgave.jar
dist/run1774285816/Semesteroppgave.html
dist/run1767050197/web-files/upgrade_javafx.png
dist/run1767050197/web-files/upgrade_java.png
dist/run1767050197/web-files/javafx-loading-25x25.gif
dist/run1767050197/web-files/javafx-loading-100x100.gif
dist/run1767050197/web-files/javafx-chrome.png
dist/run1767050197/web-files/get_javafx.png
dist/run1767050197/web-files/get_java.png
dist/run1767050197/web-files/error.png
dist/run1767050197/web-files/dtjava.js
dist/run1767050197/Semesteroppgave.jnlp
dist/run1767050197/Semesteroppgave.jar
dist/run1767050197/Semesteroppgave.html
dist/run1724103459/web-files/upgrade_javafx.png
dist/run1724103459/web-files/upgrade_java.png
dist/run1724103459/web-files/javafx-loading-25x25.gif
dist/run1724103459/web-files/javafx-loading-100x100.gif
dist/run1724103459/web-files/javafx-chrome.png
dist/run1724103459/web-files/get_javafx.png
dist/run1724103459/web-files/get_java.png
dist/run1724103459/web-files/error.png
dist/run1724103459/web-files/dtjava.js
dist/run1724103459/Semesteroppgave.jnlp
dist/run1724103459/Semesteroppgave.jar
dist/run1724103459/Semesteroppgave.html
dist/run1671887288/web-files/upgrade_javafx.png
dist/run1671887288/web-files/upgrade_java.png
dist/run1671887288/web-files/javafx-loading-25x25.gif
dist/run1671887288/web-files/javafx-loading-100x100.gif
dist/run1671887288/web-files/javafx-chrome.png
dist/run1671887288/web-files/get_javafx.png
dist/run1671887288/web-files/get_java.png
dist/run1671887288/web-files/error.png
dist/run1671887288/web-files/dtjava.js
dist/run1671887288/Semesteroppgave.jnlp
dist/run1671887288/Semesteroppgave.jar
dist/run1671887288/Semesteroppgave.html
dist/run1045446448/web-files/upgrade_javafx.png
dist/run1045446448/web-files/upgrade_java.png
dist/run1045446448/web-files/javafx-loading-25x25.gif
dist/run2067355612/Semesteroppgave.jnlp
dist/run2067355612/Semesteroppgave.jar
dist/run2067355612/Semesteroppgave.html
dist/run1903361623/web-files/upgrade_javafx.png
dist/run1903361623/web-files/upgrade_java.png
dist/run1903361623/web-files/javafx-loading-25x25.gif
dist/run1903361623/web-files/javafx-loading-100x100.gif
dist/run1903361623/web-files/javafx-chrome.png
dist/run1903361623/web-files/get_javafx.png
dist/run1903361623/web-files/get_java.png
dist/run1903361623/web-files/error.png
dist/run1903361623/web-files/dtjava.js
dist/run1903361623/Semesteroppgave.jnlp
dist/run1903361623/Semesteroppgave.jar
dist/run1903361623/Semesteroppgave.html
dist/run1899598544/web-files/upgrade_javafx.png
dist/run1899598544/web-files/upgrade_java.png
dist/run1899598544/web-files/javafx-loading-25x25.gif
dist/run1899598544/web-files/javafx-loading-100x100.gif
dist/run1899598544/web-files/javafx-chrome.png
dist/run1899598544/web-files/get_javafx.png
dist/run1899598544/web-files/get_java.png
dist/run1899598544/web-files/error.png
dist/run1899598544/web-files/dtjava.js
dist/run1899598544/Semesteroppgave.jnlp
dist/run1899598544/Semesteroppgave.jar
dist/run1899598544/Semesteroppgave.html
dist/run1814177061/web-files/upgrade_javafx.png
dist/run1814177061/web-files/upgrade_java.png
dist/run1814177061/web-files/javafx-loading-25x25.gif
dist/run1814177061/web-files/javafx-loading-100x100.gif
dist/run1814177061/web-files/javafx-chrome.png
dist/run1814177061/web-files/get_javafx.png
dist/run1814177061/web-files/get_java.png
dist/run1814177061/web-files/error.png
dist/run1814177061/web-files/dtjava.js
dist/run1814177061/Semesteroppgave.jnlp
dist/run1814177061/Semesteroppgave.jar
dist/run1814177061/Semesteroppgave.html
dist/run1774285816/web-files/upgrade_javafx.png
dist/run1774285816/web-files/upgrade_java.png
dist/run1774285816/web-files/javafx-loading-25x25.gif
dist/run1774285816/web-files/javafx-loading-100x100.gif
dist/run1774285816/web-files/javafx-chrome.png
dist/run1774285816/web-files/get_javafx.png
dist/run368185966/web-files/upgrade_javafx.png
dist/run368185966/web-files/upgrade_java.png
dist/run368185966/web-files/javafx-loading-25x25.gif
dist/run368185966/web-files/javafx-loading-100x100.gif
dist/run368185966/web-files/javafx-chrome.png
dist/run368185966/web-files/get_javafx.png
dist/run368185966/web-files/get_java.png
dist/run368185966/web-files/error.png
dist/run368185966/web-files/dtjava.js
dist/run368185966/Semesteroppgave.jnlp
dist/run368185966/Semesteroppgave.jar
dist/run368185966/Semesteroppgave.html
dist/run220431275/web-files/upgrade_javafx.png
dist/run220431275/web-files/upgrade_java.png
dist/run220431275/web-files/javafx-loading-25x25.gif
dist/run220431275/web-files/javafx-loading-100x100.gif
dist/run220431275/web-files/javafx-chrome.png
dist/run220431275/web-files/get_javafx.png
dist/run220431275/web-files/get_java.png
dist/run220431275/web-files/error.png
dist/run220431275/web-files/dtjava.js
dist/run220431275/Semesteroppgave.jnlp
dist/run220431275/Semesteroppgave.jar
dist/run220431275/Semesteroppgave.html
dist/run210428012/web-files/upgrade_javafx.png
dist/run210428012/web-files/upgrade_java.png
dist/run210428012/web-files/javafx-loading-25x25.gif
dist/run210428012/web-files/javafx-loading-100x100.gif
dist/run210428012/web-files/javafx-chrome.png
dist/run210428012/web-files/get_javafx.png
dist/run210428012/web-files/get_java.png
dist/run210428012/web-files/error.png
dist/run210428012/web-files/dtjava.js
dist/run210428012/Semesteroppgave.jnlp
dist/run210428012/Semesteroppgave.jar
dist/run210428012/Semesteroppgave.html
dist/run2067355612/web-files/upgrade_javafx.png
dist/run2067355612/web-files/upgrade_java.png
dist/run2067355612/web-files/javafx-loading-25x25.gif
dist/run2067355612/web-files/javafx-loading-100x100.gif
dist/run2067355612/web-files/javafx-chrome.png
dist/run2067355612/web-files/get_javafx.png
dist/run2067355612/web-files/get_java.png
dist/run2067355612/web-files/error.png
dist/run2067355612/web-files/dtjava.js
dist/run1023341959/web-files/get_javafx.png
dist/run1023341959/web-files/get_java.png
dist/run1023341959/web-files/error.png
dist/run1023341959/web-files/dtjava.js
dist/run1023341959/Semesteroppgave.jnlp
dist/run1023341959/Semesteroppgave.jar
dist/run1023341959/Semesteroppgave.html
build/classes/main/java/Main$6.class
build/classes/main/java/Main$5.class
build/classes/main/java/Main$4.class
build/classes/assets.image/countdown/fly_9.png
build/classes/assets.image/countdown/fly_8.png
build/classes/assets.image/countdown/fly_7.png
build/classes/assets.image/countdown/fly_6.png
build/classes/assets.image/countdown/fly_5.png
build/classes/assets.image/countdown/fly_4.png
build/classes/assets.image/countdown/3.png
build/classes/assets.image/countdown/2.png
build/classes/assets.image/countdown/1.png
build/classes/model.weapons/Bullet.class
dist/run971211965/web-files/javafx-loading-100x100.gif
dist/run971211965/web-files/javafx-chrome.png
dist/run971211965/web-files/dtjava.js
dist/run971211965/Semesteroppgave.jnlp
dist/run971211965/Semesteroppgave.jar
dist/run971211965/Semesteroppgave.html
dist/run91145546/web-files/upgrade_javafx.png
dist/run91145546/web-files/upgrade_java.png
dist/run91145546/web-files/javafx-loading-25x25.gif
dist/run91145546/web-files/javafx-loading-100x100.gif
dist/run91145546/web-files/javafx-chrome.png
dist/run91145546/web-files/get_javafx.png
dist/run91145546/web-files/get_java.png
dist/run91145546/web-files/error.png
dist/run91145546/web-files/dtjava.js
dist/run91145546/Semesteroppgave.jnlp
dist/run91145546/Semesteroppgave.jar
dist/run91145546/Semesteroppgave.html
dist/run838824673/web-files/upgrade_javafx.png
dist/run838824673/web-files/upgrade_java.png
dist/run838824673/web-files/javafx-loading-25x25.gif
dist/run838824673/web-files/javafx-loading-100x100.gif
dist/run838824673/web-files/javafx-chrome.png
dist/run838824673/web-files/get_javafx.png
dist/run838824673/web-files/get_java.png
dist/run838824673/web-files/error.png
dist/run838824673/web-files/dtjava.js
dist/run838824673/Semesteroppgave.jnlp
dist/run838824673/Semesteroppgave.jar
dist/run838824673/Semesteroppgave.html
dist/run59090944/web-files/upgrade_javafx.png
dist/run59090944/web-files/upgrade_java.png
dist/run59090944/web-files/javafx-loading-25x25.gif
dist/run59090944/web-files/javafx-loading-100x100.gif
dist/run59090944/web-files/javafx-chrome.png
dist/run59090944/web-files/get_javafx.png
dist/run59090944/web-files/get_java.png
dist/run59090944/web-files/error.png
dist/run59090944/web-files/dtjava.js
dist/run59090944/Semesteroppgave.jnlp
dist/run59090944/Semesteroppgave.jar
dist/run59090944/Semesteroppgave.html
dist/run435435743/web-files/upgrade_javafx.png
dist/run435435743/web-files/upgrade_java.png
dist/run435435743/web-files/javafx-loading-25x25.gif
dist/run435435743/web-files/javafx-loading-100x100.gif
dist/run435435743/web-files/javafx-chrome.png
dist/run435435743/web-files/get_javafx.png
dist/run435435743/web-files/get_java.png
dist/run435435743/web-files/error.png
dist/run435435743/web-files/dtjava.js
dist/run435435743/Semesteroppgave.jnlp
dist/run435435743/Semesteroppgave.jar
dist/run435435743/Semesteroppgave.html
dist/run2126161546/web-files/upgrade_javafx.png
dist/run2126161546/web-files/upgrade_java.png
dist/run2126161546/web-files/javafx-loading-25x25.gif
dist/run2126161546/web-files/javafx-loading-100x100.gif
dist/run2126161546/web-files/javafx-chrome.png
dist/run2126161546/web-files/get_javafx.png
dist/run2126161546/web-files/get_java.png
dist/run2126161546/web-files/error.png
dist/run2126161546/web-files/dtjava.js
dist/run2126161546/Semesteroppgave.jnlp
dist/run2126161546/Semesteroppgave.jar
dist/run2126161546/Semesteroppgave.html
dist/run2079067018/web-files/upgrade_javafx.png
dist/run2079067018/web-files/upgrade_java.png
dist/run2079067018/web-files/javafx-loading-25x25.gif
dist/run2079067018/web-files/javafx-loading-100x100.gif
dist/run2079067018/web-files/javafx-chrome.png
dist/run2079067018/web-files/get_javafx.png
dist/run2079067018/web-files/get_java.png
dist/run2079067018/web-files/error.png
dist/run2079067018/web-files/dtjava.js
dist/run2079067018/Semesteroppgave.jnlp
dist/run2079067018/Semesteroppgave.jar
dist/run2079067018/Semesteroppgave.html
dist/run1998333475/web-files/upgrade_javafx.png
dist/run1998333475/web-files/upgrade_java.png
dist/run1998333475/web-files/javafx-loading-25x25.gif
dist/run1998333475/web-files/javafx-loading-100x100.gif
dist/run1998333475/web-files/javafx-chrome.png
dist/run1998333475/web-files/get_javafx.png
dist/run1998333475/web-files/get_java.png
dist/run1998333475/web-files/error.png
dist/run1998333475/web-files/dtjava.js
dist/run1998333475/Semesteroppgave.jnlp
dist/run1998333475/Semesteroppgave.jar
dist/run1998333475/Semesteroppgave.html
dist/run1949926710/web-files/upgrade_javafx.png
dist/run1949926710/web-files/upgrade_java.png
dist/run1949926710/web-files/javafx-loading-25x25.gif
dist/run1949926710/web-files/javafx-loading-100x100.gif
dist/run1949926710/web-files/javafx-chrome.png
dist/run1949926710/web-files/get_javafx.png
dist/run1949926710/web-files/get_java.png
dist/run1949926710/web-files/error.png
dist/run1949926710/web-files/dtjava.js
dist/run1949926710/Semesteroppgave.jnlp
dist/run1949926710/Semesteroppgave.jar
dist/run1949926710/Semesteroppgave.html
dist/run1820470072/web-files/upgrade_javafx.png
dist/run1820470072/web-files/upgrade_java.png
dist/run1820470072/web-files/javafx-loading-25x25.gif
dist/run1820470072/web-files/javafx-loading-100x100.gif
dist/run1820470072/web-files/javafx-chrome.png
dist/run1820470072/web-files/get_javafx.png
dist/run1820470072/web-files/get_java.png
dist/run1820470072/web-files/error.png
dist/run1820470072/web-files/dtjava.js
dist/run1820470072/Semesteroppgave.jnlp
dist/run1820470072/Semesteroppgave.jar
dist/run1820470072/Semesteroppgave.html
dist/run1705852442/web-files/upgrade_javafx.png
dist/run1705852442/web-files/upgrade_java.png
dist/run1705852442/web-files/javafx-loading-25x25.gif
dist/run1705852442/web-files/javafx-loading-100x100.gif
dist/run1705852442/web-files/javafx-chrome.png
dist/run1705852442/web-files/get_javafx.png
dist/run1705852442/web-files/get_java.png
dist/run1705852442/web-files/error.png
dist/run1705852442/web-files/dtjava.js
dist/run1705852442/Semesteroppgave.jnlp
dist/run1705852442/Semesteroppgave.jar
dist/run1705852442/Semesteroppgave.html
dist/run1652251381/web-files/upgrade_javafx.png
dist/run1652251381/web-files/upgrade_java.png
dist/run1652251381/web-files/javafx-loading-25x25.gif
dist/run1652251381/web-files/javafx-loading-100x100.gif
dist/run1652251381/web-files/javafx-chrome.png
dist/run1652251381/web-files/get_javafx.png
dist/run1652251381/web-files/get_java.png
dist/run1652251381/web-files/error.png
dist/run1652251381/web-files/dtjava.js
dist/run1652251381/Semesteroppgave.jnlp
dist/run1652251381/Semesteroppgave.jar
dist/run1652251381/Semesteroppgave.html
dist/run1594788858/web-files/upgrade_javafx.png
dist/run1594788858/web-files/upgrade_java.png
dist/run1594788858/web-files/javafx-loading-25x25.gif
dist/run1594788858/web-files/javafx-loading-100x100.gif
dist/run1594788858/web-files/javafx-chrome.png
dist/run1594788858/web-files/get_javafx.png
dist/run1594788858/web-files/get_java.png
dist/run1594788858/web-files/error.png
dist/run1594788858/web-files/dtjava.js
dist/run1594788858/Semesteroppgave.jnlp
dist/run1594788858/Semesteroppgave.jar
dist/run1594788858/Semesteroppgave.html
dist/run1590741622/web-files/upgrade_javafx.png
dist/run1590741622/web-files/upgrade_java.png
dist/run1590741622/web-files/javafx-loading-25x25.gif
dist/run1590741622/web-files/javafx-loading-100x100.gif
dist/run1590741622/web-files/javafx-chrome.png
dist/run1590741622/web-files/get_javafx.png
dist/run1590741622/web-files/get_java.png
dist/run1590741622/web-files/error.png
dist/run1590741622/web-files/dtjava.js
dist/run1590741622/Semesteroppgave.jnlp
dist/run1590741622/Semesteroppgave.jar
dist/run1590741622/Semesteroppgave.html
dist/run1545556587/web-files/upgrade_javafx.png
dist/run1545556587/web-files/upgrade_java.png
dist/run1545556587/web-files/javafx-loading-25x25.gif
dist/run1545556587/web-files/javafx-loading-100x100.gif
dist/run1545556587/web-files/javafx-chrome.png
dist/run1545556587/web-files/get_javafx.png
dist/run1545556587/web-files/get_java.png
dist/run1545556587/web-files/error.png
dist/run1545556587/web-files/dtjava.js
dist/run1545556587/Semesteroppgave.jnlp
dist/run1545556587/Semesteroppgave.jar
dist/run1545556587/Semesteroppgave.html
dist/run1489570259/web-files/upgrade_javafx.png
dist/run1489570259/web-files/upgrade_java.png
dist/run1489570259/web-files/javafx-loading-25x25.gif
dist/run1489570259/web-files/javafx-loading-100x100.gif
dist/run1489570259/web-files/javafx-chrome.png
dist/run1489570259/web-files/get_javafx.png
dist/run1489570259/web-files/get_java.png
dist/run1489570259/web-files/error.png
dist/run1489570259/web-files/dtjava.js
dist/run1489570259/Semesteroppgave.jnlp
dist/run1489570259/Semesteroppgave.jar
dist/run1489570259/Semesteroppgave.html
dist/run1358259261/web-files/upgrade_javafx.png
dist/run1358259261/web-files/upgrade_java.png
dist/run1358259261/web-files/javafx-loading-25x25.gif
dist/run1358259261/web-files/javafx-loading-100x100.gif
dist/run1358259261/web-files/javafx-chrome.png
dist/run1358259261/web-files/get_javafx.png
dist/run1358259261/web-files/get_java.png
dist/run1358259261/web-files/error.png
dist/run1358259261/web-files/dtjava.js
dist/run1358259261/Semesteroppgave.jnlp
dist/run1358259261/Semesteroppgave.jar
dist/run1358259261/Semesteroppgave.html
dist/run1315188523/web-files/upgrade_javafx.png
dist/run1315188523/web-files/upgrade_java.png
dist/run1315188523/web-files/javafx-loading-25x25.gif
dist/run1315188523/web-files/javafx-loading-100x100.gif
dist/run1315188523/web-files/javafx-chrome.png
dist/run1315188523/web-files/get_javafx.png
dist/run1315188523/web-files/get_java.png
dist/run1315188523/web-files/error.png
dist/run1315188523/web-files/dtjava.js
dist/run1315188523/Semesteroppgave.jnlp
dist/run1315188523/Semesteroppgave.jar
dist/run1315188523/Semesteroppgave.html
dist/run1292011742/web-files/upgrade_javafx.png
dist/run1292011742/web-files/upgrade_java.png
dist/run1292011742/web-files/javafx-loading-25x25.gif
dist/run1292011742/web-files/javafx-loading-100x100.gif
dist/run1292011742/web-files/javafx-chrome.png
dist/run1292011742/web-files/get_javafx.png
dist/run1292011742/web-files/get_java.png
dist/run1292011742/web-files/error.png
dist/run1292011742/web-files/dtjava.js
dist/run1292011742/Semesteroppgave.jnlp
dist/run1292011742/Semesteroppgave.jar
dist/run1292011742/Semesteroppgave.html
dist/run1263430902/web-files/upgrade_javafx.png
dist/run1263430902/web-files/upgrade_java.png
dist/run1263430902/web-files/javafx-loading-25x25.gif
dist/run1263430902/web-files/javafx-loading-100x100.gif
dist/run1263430902/web-files/javafx-chrome.png
dist/run1263430902/web-files/get_javafx.png
dist/run1263430902/web-files/get_java.png
dist/run1263430902/web-files/error.png
dist/run1263430902/web-files/dtjava.js
dist/run1263430902/Semesteroppgave.jnlp
dist/run1263430902/Semesteroppgave.jar
dist/run1263430902/Semesteroppgave.html
build/classes/view/ViewUtil.class
build/classes/view/GameView.class
build/classes/model/weapons/EnemyBulletBasic.class
build/classes/model/weapons/Bullet.class
build/classes/model/player/PlayerMovement.class
build/classes/model/player/Player.class
build/classes/model/player/Player$1.class
build/classes/model/levels/LevelLoader.class
build/classes/model/levels/LevelData.class
build/classes/model/enemy/EnemyType.class
build/classes/model/enemy/EnemyMovementPatterns.class
build/classes/model/enemy/EnemyMovementPattern.class
build/classes/model/enemy/Enemy.class
build/classes/model/GameModel.class
build/classes/model/Entity.class
build/classes/controller/UserInputs.class
build/classes/controller/GameController.class
build/classes/controller/GameController$1.class
build/classes/assets/playerShip2_red.png
build/classes/assets/newLaser.mp3
build/classes/assets/laserBlue06.png
build/classes/assets/java/Sprite.class
build/classes/assets/java/Audio.class
build/classes/assets/image/playerShip2_red.png
build/classes/assets/image/laserRed.png
build/classes/assets/image/laserBlue06.png
build/classes/assets/image/enemyBlue1.png
build/classes/assets/image/countdown/fly_9.png
build/classes/assets/image/countdown/fly_8.png
build/classes/assets/image/countdown/fly_7.png
build/classes/assets/image/countdown/fly_6.png
build/classes/assets/image/countdown/fly_5.png
build/classes/assets/image/countdown/fly_4.png
build/classes/assets/image/countdown/3.png
build/classes/assets/image/countdown/2.png
build/classes/assets/image/countdown/1.png
build/classes/assets/image/background.jpg
build/classes/assets/enemyBlue1.png
build/classes/assets/audio/newLaser.mp3
dist/run971211965/web-files/upgrade_javafx.png
dist/run971211965/web-files/upgrade_java.png
dist/run971211965/web-files/javafx-loading-25x25.gif
dist/run971211965/web-files/get_javafx.png
dist/run971211965/web-files/get_java.png
dist/run971211965/web-files/error.png
